In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
PICKLE_PATH = os.path.join('pandas_dataset', 'artwork_pickle_data.csv')
df = pd.read_pickle(PICKLE_PATH)

In [3]:
artists = df['artist']

In [4]:
# pandas library's method unique will provide unique elements
pd.unique(artists), np.count_nonzero(pd.unique(artists)), len(pd.unique(artists))

(array(['Blake, Robert', 'Blake, William', 'Richmond, George', ...,
        'Sterne, Hedda', 'P-Orridge, Genesis', 'Brunias, Agostino'],
       dtype=object),
 3336,
 3336)

In [5]:
condition = df['artist'] == 'Bacon, Francis'
condition.value_counts()  # value_counts method will provide data in Series Format

False    69151
True        50
Name: artist, dtype: int64

In [6]:
# another way to do above thing
artist_count = df['artist'].value_counts()
artist_count['Bacon, Francis']

50

In [7]:
df[condition].head()  # conditional filtering with head method

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,1950.0,1448,1283,mm
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1952,1952.0,1981,1372,mm
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,1953.0,NaN,NaN,NaN
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1957,1958.0,1524,1168,mm
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1961,1961.0,1988,1416,mm

Every dataframe has two major function:
loc - retrieving data through label. Here label are kept in index postions
iloc - retrieving data through position, numberical index

In [8]:
df.loc[1035, 'artist']  # here first part is row indexers and second part in column indexers
# we can put contional filtering/expressions in any indexers

'Blake, Robert'

In [9]:
# working with multiple condition in row indexer
artist_cond = df['artist'] == 'Bacon, Francis'
year_cond = pd.to_numeric(df['year'], errors = 'coerce') < 1950
df.loc[artist_cond, :].loc[year_cond, :]

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,1950.0,1448,1283,mm
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,1953.0,NaN,NaN,NaN
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,1936,2008.0,740,940,mm

In [10]:
df.iloc[100:300, [0, 1, 4]]

,artist,title,acquisitionYear
id,,,
1737,"Burne-Jones, Sir Edward Coley, Bt",Head of a Girl,1927.0
1738,"Burne-Jones, Sir Edward Coley, Bt",Figure Study,1927.0
1739,"Burne-Jones, Sir Edward Coley, Bt",Study of the Head of a Female Attendant for ‘T...,1927.0
20231,"Burne-Jones, Sir Edward Coley, Bt",Study of Iseult for ‘The Marriage of Sir Trist...,1927.0
1740,"Burne-Jones, Sir Edward Coley, Bt",Composition Study for ‘Clerk Saunders’,1927.0
...,...,...,...
7329,"Jones, George",[title not known],1888.0
7330,"Jones, George",[title not known],1888.0
7331,"Jones, George",[title not known],1888.0
7332,"Jones, George",[title not known],1888.0
7333,"Jones, George",[title not known],1888.0